@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	color: #121212;
	/* height: 100vh; */
}

h1 {
	font-size: clamp(3.031rem, 5vw, 4.546rem);
	line-height: 1.65;
	margin-bottom: 1.25rem;
}

h2 {
	font-size: clamp(2.025em, 5vw, 3.031rem);
	line-height: 1.55;
	margin-bottom: 1.25rem;
}

h3 {
	font-size: clamp(1.35rem, 5vw, 2.025rem);
	line-height: 1.45;
	margin-bottom: 0.625rem;
}

h4 {
	font-size: clamp(1.125rem, 5vw, 1.35rem);
	line-height: 1.35;
}

p,
a {
	font-size: clamp(1rem, 15vw, 1.125rem);
	line-height: 1.25;
	color: inherit;
	text-decoration: none;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0;
	outline: 0;
	font-size: 1.25rem;
	font-weight: 700;
	color: inherit;
	appearance: button;
	background-color: #fff;
	border-radius: 0.25rem;
	padding: 0.25rem;
	cursor: pointer;
}

.btn svg {
	margin-right: 0.5rem;
}

.loadingSpinnerContainer {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 5000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loadingSpinner {
	width: 64px;
	height: 64px;
	border: 8px solid;
	border-color: #000 transparent #555 transparent;
	border-radius: 50%;
	animation: spin 1.2s linear infinite;
}

main {
	background-color: #bfd9e4;
	padding-top: 2rem;
}

.container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	padding: 0.5rem 1.5rem;
}

.main__header {
	background-color: #4d6975;
	height: 25vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1.5rem;
}

@media (max-width: 768px) {
	.main__header {
		flex-direction: column;
	}
}

.main__header__logo {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.25rem;
	font-weight: 700;
	color: #4d6975;
	background-color: #bfd9e4;
	border-radius: 0.25rem;
	padding: 0.25rem;
}

.main__header__logo a {
	text-decoration: none;
}

/* .main__navbar {
	width: 45vw;
} */

.main__navbar ul {
	list-style: none;
	display: flex;
	width: 45vw;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.main__navbar li {
	text-align: center;
}

@media (max-width: 768px) {
	.main__navbar ul {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.main__navbar .btn {
	background-color: #bfd9e4;
	color: #4d6975;
}

.main__navbar a {
	display: flex;
	align-items: center;
	text-align: center;
	text-decoration: none;
	font-size: 1.25rem;
	font-weight: 700;
	color: #bfd9e4;
	padding: 0.5rem;
	border-bottom: 2px solid transparent;
	transition: all 0.3s ease-in-out;
}

.main__navbar a svg {
	margin-right: 0.5rem;
}

.main__navbar a:hover,
.main__navbar a:focus,
.main__navbar--active {
	color: #d3e7f0;
	border-color: #d3e7f0;
}

.heading h1 {
	color: #4d6975;
	text-transform: capitalize;
	text-align: center;
}

.heading p {
	text-align: center;
}

.form {
	padding: 0.5rem 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.form form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 75vw;
	height: 100%;
}

.form__form__control {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
}

.form__form__control input,
.form__form__control label {
	padding: 0.5rem;
	text-align: left;
	justify-content: center;
	border: 0;
	border-radius: 0.25rem;
	color: #4d6975;
	font-weight: 700;
}

.form__form__control input {
	width: 50%;
}

.form__form__control label {
	width: 25%;
	border: 1px solid #4d6975;
	border-radius: 0.25rem;
	text-align: center;
	text-transform: capitalize;
}

.form__form__control .btn {
	background-color: #4d6975;
	color: #bfd9e4;
	text-transform: capitalize;
	width: 15vw;
	margin-left: auto;
}

@media (max-width: 768px) {
	.form__form__control {
		flex-direction: column;
		text-align: center;
	}

	.form__form__control input,
	.form__form__control label {
		text-align: center;
		width: 100%;
	}

	.form__form__control label {
		margin-bottom: 0.5rem;
	}

	.form__form__control .btn {
		width: 100%;
	}
}

.content__inner {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 1rem;
}

.content__element {
	background-color: red;
}

.content__element h3 {
	text-align: center;
}

.main__footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 15vh;
	background-color: #4d6975;
	color: #bfd9e4;
	font-weight: 700;
	padding: 0.5rem 1.5rem;
}

.main__footer p {
	text-align: center;
}
